USE [AcademyGroup]
GO
/****** Object:  Table [dbo].[AcademyGroups]    Script Date: 23.05.2026 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademyGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AcademyGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 23.05.2026 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Age] [int] NULL,
	[PointAverage] [float] NULL,
	[AcademyGroup_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademyGroups] ON 

INSERT [dbo].[AcademyGroups] ([Id], [Name]) VALUES (1, N'СПР112')
INSERT [dbo].[AcademyGroups] ([Id], [Name]) VALUES (2, N'ПВ111')
INSERT [dbo].[AcademyGroups] ([Id], [Name]) VALUES (3, N'ПР211')
SET IDENTITY_INSERT [dbo].[AcademyGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Age], [PointAverage], [AcademyGroup_Id]) VALUES (1, N'Богдан', N'Іваненко', 20, 10.5, 1)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Age], [PointAverage], [AcademyGroup_Id]) VALUES (2, N'Анна', N'Шевченко', 23, 11.5, 2)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Age], [PointAverage], [AcademyGroup_Id]) VALUES (3, N'Петро', N'Петренко', 25, 12, 3)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.AcademyGroups_AcademyGroup_Id] FOREIGN KEY([AcademyGroup_Id])
REFERENCES [dbo].[AcademyGroups] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.AcademyGroups_AcademyGroup_Id]
GO
